
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section CSS{
    <link rel="stylesheet" href="~/Source/css/ContactUs.css" />
}
<div class="network-main">
    <div class=" container ">
        <div class="card-body network-body ">
            <h3>About Us</h3>
            <div class="card card-about" style="width: 80%">
                <div class="card-body">
                    <p>
                        ITIans is a Job portal for the graduated from Information Technology Institute (ITI) from 9 month diploma or intinsive tracks to contact with the companies that Want to Hire The graduated of ITI and also a chance for the graduated
                        to contact with each other.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>