
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section CSS{
    <link rel="stylesheet" href="~/Source/css/ContactUs.css" />
}
<div class="network-main">
    <div class=" container ">
        <div class="card-body network-body ">
            <h3>Contact Us</h3>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="~/Source/images/Haleem.jpg" class="img-fluid img-about" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Abdelhaleem Gamal</h5>
                            <p class="card-text">Full-Stack .NET Developer</p>
                            <p class="card-text"><i class="fas fa-phone-alt"> +20 115 161 8768</i></p>

                            <div class="card-text">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="~/Source/images/Mikawy.jpeg" class="img-fluid img-about" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Ahmed Mikawy</h5>
                            <p class="card-text">Full-Stack .NET Developer</p>
                            <p class="card-text"><i class="fas fa-phone-alt"> +20 106 137 7153</i></p>

                            <div class="card-text">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="~/Source/images/amal.jpeg" class="img-fluid img-about" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Amal Assem</h5>
                            <p class="card-text">Full-Stack .NET Developer</p>
                            <p class="card-text"><i class="fas fa-phone-alt"> +20 106 580 8961</i></p>

                            <div class="card-text">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="~/Source/images/kareem.jpeg" class="img-fluid img-about" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Kareem Tarek</h5>
                            <p class="card-text">Full-Stack .NET Developer</p>
                            <p class="card-text"><i class="fas fa-phone-alt"> +20 155 346 4387</i></p>

                            <div class="card-text">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


